<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Presenter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADE01B431CA80D5F00345E93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADE01B5C1CA80D5F00345E93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADE01B671CA80D5F00345E93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
